@charset "UTF-8";
.bg-success {
  background: #68D9A4 !important;
}

.bg-info {
  background: #3282F7 !important;
}

.bg-danger {
  background: #ED6454 !important;
}

ul.dropdown-menu {
  margin: 0px !important;
  transform: translate(0px, 51px) !important;
  border-radius: 0px 0px 5px 5px !important;
  border: 0px !important;
}

html,
body {
  font-family: "Lato", "Roboto", Arial, serif;
  margin: auto;
}

@font-face {
  /* Définition of font called DM Sans*/
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  /* Définition of font called Roboto*/
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Arrow up Icon on buttons when the collapsible content is hidden*/
.btn:after {
  background-image: url("public/images/icons/chevron-up.svg");
  content: "";
  float: right;
  height: 1rem;
  margin-left: -10px;
  margin-top: 8px;
  pointer-events: none;
  width: 1rem;
}

/* Arrow down Icon on buttons when the collapsible content is shown */
.btn.show:after {
  background-image: url("public/images/icons/chevron-down.svg");
  content: "";
  height: 1rem;
  pointer-events: none;
  width: 1rem;
}

/* remove bootstrap icon from button */
.dropdown-toggle::after {
  border: none;
  content: "";
}

.form-control {
  cursor: pointer;
}

.form-control::placeholder {
  color: white;
  font-family: "Lato";
  font-size: 1.125rem;
  opacity: 80%;
}

.SearchBar {
  align-items: center;
  background: #E7E7E7;
  border-radius: 5px;
  height: 69px;
  justify-content: center;
  margin-right: -12px;
}
.SearchBar ::placeholder {
  color: grey;
}
.SearchBar__magnify {
  font-size: 32px;
  margin: 10px;
}
.SearchBar__filter {
  width: 100%;
}

.refresh {
  color: black;
  cursor: pointer;
  padding-left: 5px;
}

.tags {
  cursor: pointer;
}
.tags:hover {
  opacity: 70%;
}
.tags__selected {
  width: fit-content;
  transition: 0.4s;
}
.tags__selected:hover {
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  /* x,y,blur,spread*/
}
.tags__closeBtn {
  cursor: pointer;
}

.dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .dropdown-menu.show {
    width: 455px;
  }
}

/*
.dropdown-item {
  width: 25%;
}*/
.buttonExpand {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .buttonExpand {
    width: 479px;
  }
}

.searchFilters {
  position: absolute;
  z-index: 999;
}
@media only screen and (min-width: 992px) {
  .searchFilters {
    flex-wrap: nowrap;
  }
}

.cards {
  position: relative;
  padding: unset;
  top: 190px;
}
@media only screen and (min-width: 992px) {
  .cards {
    top: 70px;
  }
}

.card {
  border-radius: 5px;
  transition: 0.4s;
  /* &__heading {
     align-items: baseline;
     justify-content: space-between;
   }*/
}
.card:hover {
  transition: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  /* x,y,blur,spread*/
}
.card__image {
  object-fit: cover;
}
.card__title {
  font-size: 18px;
}
.card__timing {
  font-size: 18px;
  font-weight: 700;
  /* white-space: nowrap;*/
}
.card__information {
  /* justify-content: space-between;*/
  font-size: 12px;
}
.card__description {
  font-family: "Roboto";
  font-size: 12px;
  height: 175px;
  /* overflow: hidden;
   text-overflow: ellipsis;*/
}
.card__ingredient {
  font-weight: 700;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
