/* Arrow up Icon on buttons when the collapsible content is hidden*/
.btn:after {
    float: right;
    margin-left: -10px;
    margin-top: 8px;
    content: "";
    background-image: url("/public/images/icons/chevron-up.svg");
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    
  }
  /* Arrow down Icon on buttons when the collapsible content is shown */
  .btn.show:after {
    content: "";
    background-image: url("/public/images/icons/chevron-down.svg");
    pointer-events: none;
    width: 1rem;
    height: 1rem;
  }

  /* remove bootstrap icon from button */
  .dropdown-toggle::after{
    border: none;
    content: '';
   }