
/*$btn-focus-width: 0px;
$btn-focus-box-shadow: 0px;
$input-focus-border-color: blue;
$input-color:white;
$input-placeholder-color: white;
$input-bg: none;
$input-focus-bg: 0px;
$input-focus-width: 0px;
$input-focus-box-shadow: none;
$input-border-width: 0px;
$input-font-family: "New Times";*/
$headings-font-family: "Lato";
$font-family-base: "Lato";

$input-placeholder-color: white;
$info: #3282F7 !default;
$danger:#ED6454 !default;
$success:#68D9A4 !default;
$light: #E7E7E7;