// STYLING FOR DROPDOWN INPUTS
.form-control {
  cursor: pointer;
}

.form-control::placeholder { 
  color: white;
  opacity: 80%; 
  font-family: "Lato";
  font-size: 1.125rem;
}

// MAIN SEARCH INPUT BAR STYLING
.SearchBar {
  justify-content: center;
  align-items: center;
  height: 69px;
  background: #E7E7E7;
  border-radius: 5px;
  margin-right:  -12px;
  ::placeholder{
    color: grey; 
  }
  &__magnify{
    font-size: 32px;
    margin: 10px;
  }
  &__filter { //width for drtopdown menus when on mobile/tablette
    width: 100%;
  }
}
// REFESH SEARCH "X" ICON
.refresh {
  padding-left: 5px;
  cursor: pointer;
  color: black;
}

// STYLING FOR TAGS (DROPDOWN LISTS & SELECTED TAG ICONS)
.tags {
  cursor: pointer;
    &:hover {
      opacity: 70%;
    }
  &__selected {
  width: fit-content;
  transition: 0.4s;
    &:hover {
      transition: 0.3s;
      @include card-hovershadow;
    }
  }
  &__closeBtn {
    cursor: pointer;
  }
}

// STYLING TO INCREASE WIDTH OF DROPDOWN MENUS WHEN OPEN

.dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @media only screen and (min-width: $largeDevice) {
   width: 455px;
  }
}

.dropdown-item {
  width: 25%;
}

.buttonExpand {
  width: 100%;
  @media only screen and (min-width: $largeDevice) {
  width: 479px;
  }
}

// NEED FOR ALIGNMENT OF DROPDWON MENU FILTERS
.searchFilters {
  position: absolute;
  z-index: 999;
    @media only screen and (min-width: $largeDevice) {
      flex-wrap: nowrap;
    }
}

// RECIPE CARDS STYLING
.cards{
  position: relative;
  padding: unset;
  top: 190px;
   /* margin: -6px;*/
    @media only screen and (min-width: $largeDevice) {
    top: 70px;
  }
}

.card {
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    transition: 0.3s;
    @include card-hovershadow;
  }
 /* &__heading {
    align-items: baseline;
    justify-content: space-between;
  }*/
  &__image {
    object-fit: cover;
  }
  &__title {
    font-size: 18px;
  }
  &__timing {
    font-size: 18px;
    font-weight: 700;
   /* white-space: nowrap;*/
  }
  &__information {
   /* justify-content: space-between;*/
    font-size: 12px;
  }
  &__description {
    font-family: "Roboto";
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 175px;
  }
  &__ingredient {
    font-weight: 700;
  }
}

// USED TO HIDE ELEMENTS
.hide {
  display: none;
}