// MAIN SEARCH INPUT BAR STYLING
.SearchBar {
  justify-content: center;
  align-items: center;
  height: 69px;
  background: #E7E7E7;
  border-radius: 5px;
  margin-right:  -12px;
  ::placeholder{
    color: $gray-600;
  }
  &__magnify{
    font-size: 32px;
    margin: 10px;
  }
}

// STYLING TO INCREASE WIDTH OF DROPDOWN MENUS WHEN OPEN
.dropDownExpand {
  width: 100%;
  @media only screen and (min-width: $largeDevice) {
  width: 480px;
  }
}
/* STYLING: WIDTH OF DROPDOWN MENU ITEMS
.tags {
  width: 150px;
  font-size: 14px;
  @media only screen and (min-width:  $mobileSDevice) {
    font-size: 16px;
    width: 165px;
  }
    @media only screen and (min-width:  $mobileMDevice) {
      font-size: 16px;
      width: 192px;
    }
    @media only screen and (min-width: $tabletteDevice) {
      width: 220px;
    }
    @media only screen and (min-width:  $largeDevice) {
      width: 145px;
      font-size: 14px;
    }
}

/*
.form-control{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 18px;
}

@media (min-width:768px) {
  .col-md-30 {
      width: 30% !important;
  }
}*/

.searchFilters {
  position: absolute;
  z-index: 999;
    @media only screen and (min-width: $largeDevice) {
      flex-wrap: nowrap;
    }
}

// RECIPE CARDS STYLING
.cards{
  position: relative;
  padding: unset;
  top: 150px;
   /* margin: -6px;*/
    @media only screen and (min-width: $largeDevice) {
    top: 55px;
  }
}

.card {
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
  }
 /* &__heading {
    align-items: baseline;
    justify-content: space-between;
  }*/
  &__image {
    object-fit: cover;
  }
  &__title {
    font-size: 18px;
  }
  &__timing {
    font-size: 18px;
    font-weight: 700;
   /* white-space: nowrap;*/
  }
  &__information {
   /* justify-content: space-between;*/
    font-size: 12px;
  }
  &__description {
    font-family: "Roboto";
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 175px;
  }
  &__ingredient {
    font-weight: 700;
  }
}

/*
.card{
  position: relative;
  z-index: 1;
}*/

