/* 
Extra small <576px none
Small ≥576px -sm 
Medium ≥768px -md
Large ≥992px -lg
Extra large ≥1200px -xl */
$mobileSDevice: 375px;
$mobileMDevice: 425px;
$tabletteDevice: 768px;
$largeDevice: 992px;
$XlargeDevice: 1200px;

$headings-font-family: "Lato";
$font-family-base: "Lato";

$input-placeholder-color: white;
$info: #3282F7 !default;
$danger:#ED6454 !default;
$success:#68D9A4 !default;
$light: #E7E7E7;

